<div class="sections battly-1gh52kq" style="display: none;" id="eula-container">
    <section class="page">
        <div class="page-header battly-1ersdgs">
            <h3 class="header battly-15y047h" id="eula-text"></h3>
        </div>
        <article class="text-display battly-73yd18">
            <div class="display-inner battly-73yd18" id="eula" tabindex="0"></div>
        </article>
        <label class="checkbox-container battly-1jq3gmc" id="checkbox-accept-eula">
            <div class="checkbox-inner battly-1jq3gmc"><input class="checkbox battly-1jq3gmc" type="checkbox">
                <svg class="checkbox-glyph battly-1jq3gmc" viewBox="0 0 24 24">
                    <path d="M0.73, 11.91 8.1,19.28 22.79,4.59" fill="none" class="battly-1jq3gmc">
                    </path>
                </svg>
            </div>
            <span class="checkbox-label battly-1jq3gmc" id="eula-accept-text"></span>
        </label>
    </section>
</div>