<div class="sections battly-1gh52kq" style="display: none;" id="install-path-container">
    <section class="page" id="installation-path-options">
        <div class="page-header battly-1ersdgs">
            <h3 class="header battly-15y047h" id="where-do-you-want-to-install-battly"></h3>
        </div> <label class="check-container battly-1tcz5if"><input type="checkbox" checked id="todos" hidden=""
                value="system" class="battly-1tcz5if">
            <div tabindex="0" class="check-item battly-1tcz5if">
                <div class="content battly-1tcz5if">
                    <h5 class="battly-1tcz5if" id="all-users-text"></h5> <span title="C:\Program Files\Battly Launcher"
                        class="battly-1tcz5if" id="system-text"></span>
                </div>
            </div>
        </label> <label class="check-container battly-1tcz5if"><input type="checkbox" id="solo-usuario" hidden=""
                value="user" class="battly-1tcz5if">
            <div tabindex="0" class="check-item battly-1tcz5if">
                <div class="content battly-1tcz5if">
                    <h5 class="battly-1tcz5if" id="user-text-only-for"></h5> <span class="battly-1tcz5if"
                        id="user-text"></span>
                </div>
            </div>
        </label> <label class="check-container battly-1tcz5if"><input type="checkbox" id="ruta-personalizada" hidden=""
                value="custom" class="battly-1tcz5if">
            <div tabindex="0" class="check-item battly-1tcz5if">
                <div class="content battly-1tcz5if">
                    <h5 class="battly-1tcz5if" id="custom-path-text"></h5> <span title="Ruta personalizada"
                        class="battly-1tcz5if" id="custom-text"></span>
                </div>
                <div class="controls battly-1tcz5if"><button class="button type-secondary battly-1cu1py8"
                        type="button" id="open-folder-btn"><span class="battly-1cu1py8" id="search"></span></button></div>
            </div>
        </label>
    </section>
</div>